{% extends "allauth/layouts/entrance.html" %}

{% load crispy_forms_tags %}

{% block title %}Login{% endblock %}

{% block entrance_content %}
<div class="flex justify-center items-center min-h-[80vh]">
    <div class="bg-white mt-4 p-8 rounded-lg shadow-lg w-[26em]">
        <h2 class="text-2xl font-bold mb-6 text-center">Login</h2>

        <form method="post" action="{% url 'account_login' %}" class="space-y-4">
            {% csrf_token %}
            {{ form|crispy }}

            <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Sign In
            </button>
        </form>

        <div class="mt-4 text-center">
            <a href="{% url 'account_reset_password' %}" class="text-blue-500 hover:underline">
                Forgot Password?
            </a>
        </div>

        <div class="mt-4 text-center">
            <p>Don't have an account?
                <a href="{% url 'account_signup' %}" class="text-blue-500 hover:underline">
                    Sign up here
                </a>
            </p>
        </div>
    </div>
</div>
{% endblock %}