{% if hero_settings.hero_active %}
<section class="relative pt-[2em] 2xl:pt-[6em] mb-10 max-h-[800px] min-h-[400px] bg-cover bg-center"
style="{% if hero_settings.bg_color %} background-color: {{ hero_settings.bg_color|safe }}; {% endif %}
        {% if hero_settings.hero_image %} background-image: url('{{ hero_settings.hero_image.url }}'); {% endif %}">

    <!-- Overlay (Fix height using h-full) -->
    {% if hero_settings.hero_image %}
    <div class="absolute top-0 left-0 w-full h-full bg-black bg-opacity-50 z-0"></div>
    {% endif %}

    <div class="relative py-4 px-4 mx-auto  text-center lg:py-16 lg:px-12 z-10 text-gray-100">
        {% if hero_settings.h1_text %}

        <h1
            class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-100 md:text-5xl lg:text-6xl dark:text-white">
            {{ hero_settings.h1_text }}</h1>
            </h1>
            {% endif %}
            {% if hero_settings.sub_text %}
        <p class="text-lg font-normal text-gray-300 lg:text-xl sm:px-16 xl:px-48 dark:text-gray-400">
            {{ hero_settings.sub_text }}
        </p>
        {% endif %}
        <div class="flex flex-col mt-12 mb-8 lg:mb-16 space-y-4 sm:flex-row sm:justify-center sm:space-y-0 sm:space-x-4">
            {% if hero_settings.button_one_text %}
            <a href="{{ hero_settings.button_one_link }}"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-white rounded-lg bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300 dark:focus:ring-primary-900">
                {{ hero_settings.button_one_text }}
                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="22" height="22"
                    stroke-width="1.75">
                    <path d="M5 12l14 0"></path>
                    <path d="M15 16l4 -4"></path>
                    <path d="M15 8l4 4"></path>
                </svg>
            </a>
            {% endif %}
            {% if hero_settings.button_two_text %}
            <a href="{{ hero_settings.button_two_link }}"
                class="inline-flex justify-center items-center py-3 px-5 text-base font-medium text-center text-gray-100 rounded-lg border border-gray-300 hover:text-gray-900 hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 dark:text-white dark:border-gray-700 dark:hover:bg-gray-700 dark:focus:ring-gray-800">
                <svg class="mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" width="22" height="22"
                    stroke-width="1.8">
                    <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0"></path>
                    <path d="M16 19h6"></path>
                    <path d="M19 16v6"></path>
                    <path d="M6 21v-2a4 4 0 0 1 4 -4h4"></path>
                </svg>
                {{ hero_settings.button_two_text }}
            </a>
            {% endif %}
        </div>
        {% if hero_settings.featured_active %}
        <div class="px-4 mx-auto text-center md:max-w-screen-md lg:max-w-screen-lg lg:px-36">
            <span class="font-semibold text-gray-300 uppercase">FEATURED IN</span>
            <div class="flex flex-wrap justify-center items-center mt-8 text-gray-300 sm:justify-around">
                {% if hero_settings.featured_one_icon and hero_settings.featured_one_link %}
                    <a href="{{ hero_settings.featured_one_link }}" class="mx-3 mb-5 lg:mb-0 hover:text-gray-100">
                        <img src="{{ hero_settings.featured_one_icon.url }}" width="180" alt="Logo" class="navbar-logo">
                    </a>
                {% endif %}
                {% if hero_settings.featured_two_icon and hero_settings.featured_two_link %}
                    <a href="{{ hero_settings.featured_two_link }}" class="mx-3 mb-5 lg:mb-0 hover:text-gray-100">
                        <img src="{{ hero_settings.featured_two_icon.url }}" width="180" alt="Logo" class="navbar-logo">
                    </a>
                {% endif %}
                {% if hero_settings.featured_three_icon and hero_settings.featured_three_link %}
                    <a href="{{ hero_settings.featured_three_link }}" class="mx-3 mb-5 lg:mb-0 hover:text-gray-100">
                        <img src="{{ hero_settings.featured_three_icon.url }}" width="180" alt="Logo" class="navbar-logo">
                    </a>
                {% endif %}
            </div>
        </div>
    {% endif %}
    
    
    </div>
</section>
{% endif %}