<a href="{% url 'community_board_app:post_detail' slug=post.slug %}">
    <div class="post block  max-w-2xl p-6 mx-auto mb-4 bg-white border border-gray-100 shadow-sm hover:bg-gray-100"
        data-post-id="{{ post.id }}">
        <h2 class="text-2xl pb-2">{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <div class="mt-2">
            <small>{{ post.created_at }}</small>
        </div>

        <div class="mt-2 flex">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor"
                stroke-linecap="round" stroke-linejoin="round" width="22" height="22" stroke-width="1.75">
                <path d="M8 9h8"></path>
                <path d="M8 13h6"></path>
                <path d="M18 4a3 3 0 0 1 3 3v8a3 3 0 0 1 -3 3h-5l-5 3v-3h-2a3 3 0 0 1 -3 -3v-8a3 3 0 0 1 3 -3h12z">
                </path>
            </svg>
            <span class="pl-2">{{ post.comment_count }}</span>
        </div>

        <!-- <p><strong>Comments: {{ post.comment_count }}</strong></p> {# Display comment count #} -->
    </div>
</a>