/* #id_email,
#id_occupation,
#id_bio,
#id_location,
#id_birth_date {
    color: white;
    background-color: #111827 !important;
    border: #374151 solid 1px;
}

label {
    color: white !important;
} */