{% load static %}
{% load tz %}
{{ form.media }}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'cms_app/css/style.css' %}">
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Comunity Board</title>
</head>

<body>
    {% include 'community_board_app/components/admin_navbar.html' with post=post %}
    {% include 'community_board_app/components/navbar.html' with post=post %}
    {% include 'community_board_app/components/hero.html' with post=post %}

    <div class="mx-auto max-w-[2800px]">
        {% block content %}{% endblock content %}
    </div>

</body>

</html>