{% extends 'community_board_app/base.html' %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-2xl p-6 mx-auto mb-4">

    <div class="post block" data-post-id="{{ post.id }}">
        <h2 class="text-2xl pb-2 primary">{{ post.title }}</h2>
        <p>{{ post.content }}</p>
        <div class="mt-2">
            <small class="secondary">Author: <strong>{{ post.author.username }}</strong>
                ({{ post.created_at|date:"F j, Y, g:ia" }})</small>
            <br>
            <p class="mt-2">{{ post.comment_count }} comments</p>
        </div>

        <div class="mt-6">
            <a href="{% url 'community_board_app:edit_post' slug=post.slug %}"
                class="text-gray-700 hover:bg-blue-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                Edit
                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"
                    fill="currentColor">
                    <path
                        d="M6.41421 15.89L16.5563 5.74785L15.1421 4.33363L5 14.4758V15.89H6.41421ZM7.24264 17.89H3V13.6473L14.435 2.21231C14.8256 1.82179 15.4587 1.82179 15.8492 2.21231L18.6777 5.04074C19.0682 5.43126 19.0682 6.06443 18.6777 6.45495L7.24264 17.89ZM3 19.89H21V21.89H3V19.89Z">
                    </path>
                </svg>
            </a>
            <a href="{% url 'community_board_app:delete_post' slug=post.slug %}"
                class="text-red-700  hover:bg-red-100 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center">
                Delete
                <svg class="ml-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20"
                    fill="currentColor">
                    <path
                        d="M17 6H22V8H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V8H2V6H7V3C7 2.44772 7.44772 2 8 2H16C16.5523 2 17 2.44772 17 3V6ZM18 8H6V20H18V8ZM9 11H11V17H9V11ZM13 11H15V17H13V11ZM9 4V6H15V4H9Z">
                    </path>
                </svg>
            </a>
        </div>

    </div>


    <div class="mt-8">
        <p>Discussion:</p>

        {% include 'community_board_app/partials/comment_partial.html' with post=post form=form %}

    </div>
</div>
{% endblock %}